@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <div class="heading-container bottom-buffer-md">
            <h1 class="display-4">Welcome to GoFishIng!</h1>
        </div>

        <ul>
            <li> <a href="/Agency/Trips/Types">Trips</a> </li>
            <li> <a href="/Agency/Views">Fishing Permit</a> </li>
            <li> <a href="/Store/Views">Store</a> </li>
            <li> <a href="//">Terms&Conditions</a> </li>
            <li> <a href="//">Contact Us</a> </li>
        </ul>

        <hr />






    </div>

    @*<div id="outer">
        <div class="inner"><button type="submit" class="msgBtn" onClick="return false;">Save</button></div>
        <div class="inner"><button type="submit" class="msgBtn2" onClick="return false;">Publish</button></div>
        <div class="inner"><button class="msgBtnBack">Back</button></div>
    </div>*@

    
